{% extends 'base.html' %}
{% block title %}
{{ cancha.nombre }}
{% endblock title %}
{% block content %}
<h1>{{ cancha.nombre }}</h1>
<p>
    <label>Tipo: </label> {{ cancha.tipo }}
</p>
<p>
    <label>Código interno: </label> {{ cancha.cod_interno }}
</p>
<p>
    <label>¿Tiene vestuario?</label> {{ cancha.get_vestuario }}
</p>
<p>
    <label>¿Tiene iluminación?</label> {{ cancha.get_iluminacion }}
</p>
<p>
    <label>¿Tiene césped sintético?</label> {{ cancha.get_cesped }}
</p>
<a href="{% url 'reservas:reserva-create' cancha.pk %}">
    Agregar reserva
</a>
<h2>Reservas: </h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Fecha y Hora</th>
            <th scope="col">Cliente</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% if reservas %}
        {% for reserva in reservas %}
        <tr>
            <th scope="row">
                {{ reserva.get_fecha_turno }}
            </th>
            <td>
                <a href="/reservas/{{ reserva.id }}/">
                    {{ reserva.cliente }}
                </a>
            </td>
            <td>
                
            </td>
        </tr>
        {% endfor %}
        {% else %}
            <tr>
                <p>
                    Parece que no tienes reservas registradas.
                </p>
            </tr>
        {% endif %}
    </tbody>
</table>

{% endblock content %}
